
:root {
  --color-brand-black:       #0f1711;

  --color-brand-green-light: #70804e;
  --color-brand-green:       #25391b;

  --color-brand-blue-light:  #c0e8f9;
  --color-brand-blue:        #3a526b;

  --color-brand-brown-light: #937254;
  --color-brand-brown:       #5b371c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: hsl(var(--color-primary-hue), 85%, 30%);
    --color-light: hsl(var(--color-primary-hue), 85%, 90%);
    --color-text: hsl(var(--color-primary-hue), 15%, 80%);
    --gray-light: hsl(var(--color-primary-hue), 15%, 15%);
    --background-body: hsl(var(--color-primary-hue), 2%, 8%);
    --card-background: transparent;

    .card--stats {
      background-image: linear-gradient(
        hsl(var(--chart-color), 85%, 15%),
        hsl(var(--color-primary-hue), 5%, 10%)
      );

      dt {
        --tl: 75%;
      }
    }
  }
}

body {
  background-color: var(--background-body);
  color: var(--color-text);
}

.background-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.background-gray-light {
  background-color: var(--gray-light);
}

.background-gray-medium {
  background-color: var(--gray-medium);
}
