:root {
  --color-brand-black:       #0f1711;
  --color-brand-gray:        #c6bab1;
  --color-brand-white:       #ced8d9;
  --color-brand-blue-alt:    #caecf9;
  --color-brand-blue:        #8ecef5;
  --color-brand-brown:       #a37f63;
  --color-brand-green:       #7a9d93;


  --body-width: 50rem;
  --sidebar-width: 200px;
}

* {
  margin: 0;
  padding: 0;
}



#redwood-app {
  background-color: var(--color-brand-white);
  color: var(--color-brand-black);
  grid-template-areas:
   "nav nav"
   "aside main"
   "footer footer";
   min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr auto;
  align-content: start;
  font-family: atkinson_hyperlegible, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}

/* Navigation */
#redwood-app > header {
  padding: 1rem;
  grid-area: nav;
  border-bottom: solid black 1px;
  background-color: var(--color-brand-blue);
}
nav > ul {

  --min: 10ch;
  list-style-type: none;
  font-size: 1.15rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  width: min(100ch, 100vw - 2rem);
  margin-inline: auto;
}

/* Main */
main {
  grid-area: main;
  padding: 2rem;
  background-color: var(--color-brand-green);
}
main > article > ol {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
}


/* Aside */
[data-grid-area='aside'] {
  grid-area: aside;
}
aside {
  padding-top: 1rem;
  background-color: var(--color-brand-white);
  border-right: solid black 1px;
}

aside * {
  display: inline-grid;
}

[data-grid-area='aside'],  [data-grid-area='main']{
  transition: all .2s ease-in-out;
}

/* Footer */
[data-grid-area='footer'] {
  grid-area: footer;
}

footer {
  border-top: solid black 1px;
background-color: var(--color-brand-brown);
}

footer > ul {
  --min: 10ch;
  list-style-type: none;
  font-size: 1.15rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  width: min(100ch, 100vw - 2rem);
  margin-inline: auto;
}

/*Tables*/
table {
  width: 100%;
}
thead {
  background-color: var(--color-brand-brown);
}
th {
  padding-left: .5rem;
  text-align: left;
}

tr {
  border-bottom: solid black 1px;
}

tbody > tr:nth-child(even) {
  background-color: var(--color-brand-gray);
}

tbody > tr:nth-child(odd) {
  background-color: var(--color-brand-white);
}

tbody > tr:hover {
  background-color: var(--color-brand-blue);
}

td {
  padding: .5rem;
    font-size: 2ch;

}
.table-actions{
  display: inline-flex;
}

.table-action-delete {
  color: Crimson;
  margin-left: 1rem;
  padding: .5rem;

}
/* Article */

article {
  background-color: var(--color-brand-blue-alt);
  padding: 1rem;
}


/*Links*/

a {
  position: relative;
  text-decoration: none;
  color: #003052;
  border-bottom: 0.125rem solid currentColor;
  padding: 0 0.125rem 0.125rem;
  border-radius: 0.125rem;
  transition: all 0.2s ease-out;
}

a:focus, a:hover, .active-page {
  color: black;
  background-color: #9dc0d7;
  box-shadow: 0 0 0 0.125rem currentColor;
}

a:visited {
  color: #623393;
}

a:focus:visited {
  color: #38254E;
}



button, input, label, textarea {
  display: block;
  outline: none;
}

label {
  margin-top: 1rem;
}

.error {
  color: red;
}

input.error, textarea.error {
  border: 1px solid red;
}

/* Generic bit */






.off-canvas aside {
  transform: translateX(calc(var(--sidebar-width) -10 * -1));
}
.off-canvas main {
  width: calc(100% + var(--sidebar-width));
  transform: translateX(calc(var(--sidebar-width) -2 * -1));
}

.hidden {
  display: none;
}


.left {
  display: block;
  float: left;

}
.right {
  align-content: center;
  float: right;
  height: 100%;
}
.far-right {
  margin-right: -1rem;
  align-content: center;
  float: right;
  height: 100%;
}




ul {
  padding-left: 0.5rem;
}

ol {
  margin-bottom: 1rem;
}

fieldset {
  border: none;
}

.rw-segment-header {
  display: block;
}

.sections-split {
  display: grid;
}

.leftHalf {
  grid-column: 1 / span 2;
}
.rightHalf {
  grid-column: 3 / span 2;
}

.card {
  width: 225px;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
  margin-right: 15px;
}
